APP_DEBUG=
APP_HOST=
APP_PORT=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
DOUBAO_API_KEY=
DOUBAO_BASE_URL=
FEISHU_APP_ID=
FEISHU_APP_SECRET=
GLM_API_KEY=
GLM_BASE_URL=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=
JWT_SECRET_KEY=
KIMI_API_KEY=
KIMI_BASE_URL=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
QWEN_API_KEY=
QWEN_BASE_URL=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
SMTP_FROM=
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USER=
SMTP_USE_SSL=

